@model FeitWorkshop.Models.Teacher

@{
    ViewData["Title"] = "Детали";
}

<h1>@Html.DisplayFor(model => model.FullName)</h1>
<hr />
<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AcademicRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstTeacher)
        </dt>
        <dd class="col-sm-10">
            @foreach (var course in Model.FirstTeacher)
            {
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Title"> @course.Title </a>
                <br />
            }
            @foreach (var course in Model.SecondTeacher)
            {
                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Title"> @course.Title </a>
                <br />
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {<a asp-action="Edit" asp-route-id="@Model.Id">Уреди</a><p style="display:inline"> | </p>}
    <a asp-action="Index">Назад</a>
</div>
