@model FeitWorkshop.ViewModels.TeacherVM

@{
    ViewData["Title"] = "Професори";
}

<h1>Професори</h1>

<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {<p><a asp-action="Create">Додади нов</a></p>}
</div>
<br />
<form asp-controller="Teachers" asp-action="Index" method="get">
    <p>
        Име: <input type="text"  class="form-control d-inline-block" asp-for="FName" />
        Презиме: <input type="text" class="form-control d-inline-block" asp-for="LName" />
        Диплома:
        <select class="form-select d-inline-block" asp-for="TeacherDegree" asp-items="Model.Degree">
            <option value="">Сите</option>
        </select>
        Академски ранк:
        <select class="form-select d-inline-block" asp-for="TeacherRank" asp-items="Model.AcademicRank" >
            <option value="">Сите</option>
        </select>
        <span style="margin-left:5px;margin-right:5px;"><input type="submit" value="Филтрирај" class="btn btn-primary btn-sm" /></span>|
        <a asp-action="Index">Ресетирај</a>
    </p>
</form>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].AcademicRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].OfficeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teachers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {<a asp-action="Edit" asp-route-id="@item.Id">Уреди</a><p style="display:inline"> | </p>}
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {<p style="display:inline"> | </p><a asp-action="Delete" asp-route-id="@item.Id">Избриши</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
