@model FeitWorkshop.ViewModels.CourseVM

@{
    ViewData["Title"] = "Предмети";
}

<h1>Предмети</h1>

<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {<p><a asp-action="Create">Додади нов</a></p>}
</div>
<br />
<form asp-controller="Courses" asp-action="Index" method="get">
    <p>
        Име: <input class="form-control" type="text" asp-for="SearchString" />
        Семестар:
        <select class="form-select" asp-for="CourseSemester" asp-items="Model.Semester">
            <option value="">Сите</option>
        </select>
        Програма:
        <select class="form-select" asp-for="CourseProgram" asp-items="Model.Program">
            <option value=""></option>
        </select>
        <span style="margin-left:5px;margin-right:5px;"><input type="submit" value="Филтрирај" class="btn btn-primary btn-sm" /></span>|
        <a asp-action="Index">Ресетирај</a>
    </p>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].EducationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].FirstTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].SecondTeacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstTeacher.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondTeacher.FullName)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {<a asp-action="Edit" asp-route-id="@item.Id">Уреди</a><p style="display:inline"> | </p>}
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {<p style="display:inline"> | </p><a asp-action="Delete" asp-route-id="@item.Id">Избриши</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
