@model FeitWorkshop.Models.Student

@{
    ViewData["Title"] = "Студенти";
}

<h1>Предмети</h1>


<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Име</th>
            <th>Поени</th>
            <th>Оцена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var courses in Model.Courses)
        {
        <tr>
            <td> @courses.Course.Title </td>
            <td> @courses.TotalPoints </td>
            <td> @courses.Grade </td>
            <td style="text-align:right">
            <td style="text-align:right">
                <a asp-controller="Enrollments" asp-action="StudentEdit"
                   asp-route-courseid="@courses.CourseId" asp-route-studentid="@Model.Id">Уреди</a>
            </td> </td>
        </tr>
        }
        </tbody>
</table>
